
<div class="form-group d-none">
    <label for="Id">Id</label>
    <input type="number" class="form-control" id="Id" [(ngModel)]="product.Id">
</div>
<div class="form-group">
    <label for="Title">Title</label>
    <input type="text" class="form-control" id="Title" [(ngModel)]="product.Title">
</div>
<div class="form-group">
    <label for="price">price</label>
    <input type="number" class="form-control" id="price" [(ngModel)]="product.Price">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" [(ngModel)]="product.Description">
</div>

<div class="form-group">
    <label for="photo">photo</label>
    <input type="text" class="form-control" id="photo" [(ngModel)]="product.Photo">
</div>
<button class="btn btn-secondary mx-2" (click)="Close()">Close</button>
<button class="btn btn-primary mx-2" (click)="Add()">Add</button>